.card-title {
    display: block;
    max-width: 100%; /* Ensure it doesn't exceed the card width */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: navy;
    font-weight: bold;
    text-decoration: none !important;
}

.card-text {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    color: #6c757d;
    font-weight: normal;
}

.card-subtext {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    color: #6c757d;
    font-weight: normal;
    font-size: smaller;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Dimming effect */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050;
  }
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 50%;
    max-width: 600px;
    z-index: 1055;
  }