.wd-kanbas-navigation {
    position: sticky;
    top: 0;
    left: 0;
    background-color: black;
    list-style: none;
    padding: 0px;  margin: 0px;
    width: 85px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* This will push the spacer and last item to the bottom */
}
.wd-kanbas-navigation .spacer {
    flex-grow: 1; /* This will take up all available space */
}
/* Ensure the last icon stays at the bottom */
.wd-kanbas-navigation .nav-bottom-icon {
    margin-top: auto; /* This can help ensure it stays at the bottom */
}

.wd-kanbas-navigation li {
    padding: 5px;     margin-bottom: 3px;
    font-size: 0.8em;  text-align: center;
}
.wd-kanbas-navigation li.wd-active {
    background-color: white;
}
.wd-kanbas-navigation li.wd-active a {
    color: red;
}
.wd-kanbas-navigation a {
    color: white;
    text-decoration: none;
}
.wd-kanbas-navigation a svg {
    color: red;
    font-size: 2em !important;
    margin-bottom: 2px;
}
.wd-kanbas-navigation a .account-icon {
    color: white;
}

.wd-kanbas-navigation li.wd-active a .account-icon {
    color: black;
}

.wd-kanbas-navigation li.neu-logo  {
    padding-top: 15px;
    background-color: black;
}

.nav-label {
    display: block; /* Ensures the label takes its own row */
}
.icon-height {
    height: 24px; /* Set the height to your desired value */
    width: auto; /* This maintains the aspect ratio */
}

#wrapper {
    display: flex;
}

/* Initially hide the sidebar on all screen sizes */
#sidebar {
    display: none;
}

/* From Bootstrap's SM breakpoint (576px) upwards, display the sidebar */
@media (min-width: 576px) {
    #sidebar {
        display: block; /* Or 'flex' if #sidebar is a flex container */
        position: sticky;
        top: 0;
        left: 0;
        background-color: black;
        list-style: none;
        padding: 0px;
        margin: 0px;
        width: 85px; /* Adjust based on your design */
        height: 100vh;
        margin-right: 30px;
    }
}